/*-------------------------------------*\
    COLORS
\*-------------------------------------*/

/**
 * Colors 
 * 
 * All the global colors used throughout
 * 
 **
 * Base
 * 
 * 
 
    [lightest]  [brightest]
    [lighter]   [brighter]
    [light]     [bright]
        --- base ---
    [dark]      [dull]
    [darker]    [duller]
    [darkest]   [dullest]

 * 
 * Name Pattern:
 *  c-[name]--[modifier]
 * 
 */
 


/*-------------------------------------*\
    Base Colors
\*-------------------------------------*/

$c-gray--light:     #3c3c3c;
$c-gray:            #221f1f;
$c-gray--dark:      #151414;
$c-gray--darker:    #0f0f0f;

$c-pink:            #d2959e;





/*-------------------------------------*\
    Site Colors
\*-------------------------------------*/

$c-text:   #fff; 
$c-body:   #000;
