/*-------------------------------------*\
    SLABS
\*-------------------------------------*/

/**
 * Slabs 
 * 
 * Simple slabs of styling that takes up a whole block of an area,
 * 
 **
 * Base 
 * Isotopes
 * Implementation
 * 
    <div>
        <div class="slab--black">
        </div>
    </div>
 * 
 */ 

%slab--default { 
    color: $c-text;
    background: $c-body;
}

%slab--gray {
    background: $c-gray;
}

    %slab--gray--light {
        background: $c-gray--light;
    }

    %slab--gray--dark {
        background: $c-gray--dark;
    }

    %slab--gray--darker {
        background: $c-gray--darker;
    }





/*-------------------------------------*\
    Isotopes
\*-------------------------------------*/





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

.slab--default { @extend %slab--default !optional; }

.slab--gray { @extend %slab--gray !optional; }
.slab--gray--light { @extend %slab--gray--light !optional; }
.slab--gray--dark { @extend %slab--gray--dark !optional; }
.slab--gray--darker { @extend %slab--gray--darker !optional; }





